body {
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    height: 100vh;
    background: #C7D9DD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share_button {
    height: 80px;
    width: 280px;
    position: relative;
    background: #dfebe9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s linear;
}

.share_button:hover {
    transform: scale(1.1);
}

.share_button span {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #f1f1f1;
    background: #2d3436;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: 0.5s linear;
    border-radius: 50px;
}

.share_button:hover span {
    transform: translateX(-100%);
    transition-delay: 0.4s;
}

.share_button a {
    flex: 1;
    font-size: 26px;
    color: #2d3436;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s linear;
}

.share_button:hover a {
    opacity: 1;
    transform: translateX(0);
}

.share_button a:nth-of-type(1) {
    transition-delay: 1s;
}

.share_button a:nth-of-type(2) {
    transition-delay: 0.8s;
}

.share_button a:nth-of-type(3) {
    transition-delay: 0.6s;
}

.share_button a:nth-of-type(4) {
    transition-delay: 0.4s;
}